@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Thank you for coming to my C# final project exploring API's.<br/>
    <a href="http://csc494a-sp21-final.azurewebsites.net/swagger/index.html">Click here</a> to view the source of the data.
    </p>
</div>
